@model IEnumerable<Bill_UI.Models.Customer>

@{
    ViewData["Title"] = "GetCustomers";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">All Customers</h1>
    <div>
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </div>
</div>

@if (TempData["insert_message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>SUCCESS</strong> @TempData["insert_message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["update_message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>SUCCESS</strong> @TempData["update_message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["delete_message"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>SUCCESS</strong> @TempData["delete_message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>
                        <div class="btn-group" role="group">

                            <button type="button" class="btn btn-custom btn-sm me-1 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>Option
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                                <li><a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
